<h3>{{ _('FusiBox Setup') }}</h3>
<p>{{ _('Thank you for installing Fusibox') }}!</p>
<p>{{ _('This plugin requires some libraries setup before it will work properly') }}.</p>
<p>
    {{ _('All libraries that need to be installed can be found') }} <a href="https://learn.adafruit.com/adafruit-i2s-mems-microphone-breakout/raspberry-pi-wiring-test">{{ _('here') }}</a>.
</p>
<hr>
<h3>
    <a href="#link1" target="_blank">
        1. {{ _('Wiring/assembling your FusiBox') }}.
    </a>
</h3>
<p>{{ _('The most important part! Make sure you have everything wired and assembled correctly') }}.</p>
<p>
    <i class="fa fa-arrow-right text-success"></i>
    {{ _('See') }} <a href="#link1" target="_blank">
         {{ _('First Steps') }}
    </a> {{ _('for more information') }}.
</p>
<h3>
    <a href="#link2" target="_blank">
        2. {{ _('Requirements Setup') }}.
    </a>
</h3>
<p>
    {{ _('The requirements setup will help you to configure your Raspberry Pi for use with this plugin') }}.
</p>
<p>
    <button class="btn btn-primary" data-toggle="modal" data-target="#FUSIBOX_REQUIREMENTS_SETUP">
        <i class="fa fa-cogs"></i> {{ _('Start requirements setup') }}
    </button>
</p>
<h3>
    3. {{ _('Reboot your Pi') }}.
</h3>
<p>
    {{ _('Once you have made any necessary OS configuration changes, a reboot of the Pi is required. End the wizard, then hit reboot') }}!
</p>
